@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
  body {
  padding-top: 70px;
  background:#0a6bb552 ;
  opacity: 80%;
}

/*Custom css properties*/
:root {
  --sidenav-width: 230px;
}

  body::-webkit-scrollbar {
  width: 7.5px;
}
 
  body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(253, 253, 253, 0.3);
}
 
  body::-webkit-scrollbar-thumb {
  background-color: #505457cc;
  outline: 2px solid rgba(0, 0, 0, 0.473);
}


.backgroundjumbo {
  background-color: #ffffffd0;
  width: 450px;
  padding: 25px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
}

  a {
  color:#bec7cf;

}

  a:hover{
  color:#5187b1;
}

  footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0,0, 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  nav {
  width: 100%;
}
  .navimg{
  border-radius: 50%;
  width: 80px;
}

.loginimg{
  border-radius: 50%;
  width: 280px;
}

.xray{
  width: 500px;
}

  hr.yellow{
  background-color: #0a6bb552;
}

.banner{
  width: 80%;
  border-radius: 5px;
}

.patient-img,
.user-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

/*Top navigation bar*/

p#user-info {
  color: white;
  margin: 0;
  padding-right: 2.5rem;
  line-height: 2.5;
  width: max-content;
}

a.navbar-brand {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
} 

.silver-btn {
  font-size: 14px;
  padding: 4px 8px;
  color: white;
  border-color: gray;
  background: radial-gradient(#999, #4d4d4d);
  outline: none !important;
}

.silver-btn:hover {
  filter: sepia(100%);
}


  /* BELOW IS CONSOLIDATED FROM PWGEN.CSS*/



  /* Input on hover and focus Fields*/
  input[type="text"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="text"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="date"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="date"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Province"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Province"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="OHIP"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="OHIP"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Last_Name"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Last_Name"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Last_Name"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Last_Name"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="name"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="name"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Address"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Address"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="City"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="City"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Postal"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Postal"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="email"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="email"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Age"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Age"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="Phone_Number"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="Phone_Number"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="password"] {
  background-color: #ffffffa6;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

input[type="password"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

.main-panel {
  margin-left: var(--sidenav-width);
}


input[type="checkbox"] {
  margin-right: 0;
}

input[classname="passwordCU"] {
  width: 200px;
}

.containerpw {
  background-color: #ffffffd0;
  max-width: 100%;
  width: 450px;
  padding: 20px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
}

.containerCU {
  background-color: #ffffffd0;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
}

.containerPatient_Create {
  max-width: 100%;
  width: 550px;
  opacity: 98%;
  border-radius: 5px;
}

.swal2-container {
  z-index: 10000!important;
  }

.result-containerpw {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-containerpw #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-containerpw .btnpw {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
}

.btnpw {
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #fec136;
  border-radius: 5px;
}

.btnpw:hover{
    color:#000;
    background-color: #dbb14e;
}

.btn-largepw {
  width: 100%;
  display: block;
}

.settingpw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

@media screen and (max-width: 400px) {
  .result-container {
    font-size: 14px;
  }
}
